<html>
    <head>
        <body>
            <h1> Medical inventorary Form  </h1>

            <form  action ="meds/add" method="post">
            <input type ="text" name="name" placeholder="name"/>
            <input type ="text" name="count" placeholder="Count"/>
            <input type ="text" name="brand" placeholder="Brand"/>
            <button type="submit">ADD</button>
            </form>
        </body>
    </head>
</html>